/* ------------------------------- FONTS  --------------------------------- */
@font-face {
    font-family: Stroke;
    src: url(stroke/Stroke-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: SS_Adec;
    src: url(SS_Adec2.0/SS_Adec2.0_main.otf);
    font-weight: normal;
}

@font-face {
	font-family: KlinicSlabBook;
	src: url(KlinicSlab_Personal_License/KlinicSlabBook.otf);
	font-weight: normal;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------ MENU BAR --------------------------------- */
#MenuBar {
	height: 45px;
	/*background-color: yellow;*/
	position: fixed;
	z-index: 1;
	width: 100%;
}

.MenuBarCol { /* All columns in MenuBar */
	height: 100%;
}
 
.MenuBarCol:hover {
	cursor: pointer;
}

.MenuBarCol p { /* Text in all columns of MenuBar */
	line-height: 45px;
	text-align: center;
	color: white;

	font-family: 'KlinicSlabBook';
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 3px;
}

#MenuFill {
	background-color: #190C99;
	/*#0C3E97; Duller blue*/
	/*034DA2; Lighter duller blue*/
}

#MenuHome {
	background-color: #190C99;
	/*#0C3E97; /* Duller Blue */
	border-right: 5px solid #a3b0f8; /* site starts at Home tab */
}

#MenuML {
	background-color: #9BD22D; /* Lime green */
	/*#8bbd29; darker green*/
	border-right: 5px solid #9BD22D; /* each tab has border to prevent shifting */
}

#MenuIOS {
	background-color: #BF245E; /* Magenta */
	border-right: 5px solid #BF245E;

}

#MenuGrowth {
	background-color: #662E91; /* Purple */
	border-right: 5px solid #662E91;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------ TITLE BAR -------------------------------- */
#TitleBar { /* Top Title Bar */
	height: 35vh;
	border-bottom: 1px solid #ddd;
	margin-top: 45px;
}

.TitleBarItem { /*Class for all cols in TitleBar */
	height: 100%; /* Make TitleBar cols same height as TitleBar row */
}

#TitleBarImgs { /* Imgs in TitleBar */
	/*background-color: green;*/
}

#BearImg {
	height: 100%;
}

#RobotImg {
	height: 20%;
}

#TitleBarText { /* Title in TitleBar lol */
	display: table; /* For vertically and horizontally centering text */
}

#TitleBarText p { /* Title Text (Thoughts %% Experiments) */

	/*background-color:red;*/

	/* For vertically and horizontally centering text */
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	/* */

	font-family: 'SS_Adec', 'KlinicSlabBook';
	/*letter-spacing: 5px;*/
	font-size: 70px; /*65px;*/
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- CONTENT --------------------------------- */
.ContentBlock { /* Block of LeftColumn and EntryColumn */
	margin-bottom: 50px; /* Space between each entry */ /*Added 20px for resizing of div cutting off extra padding*/
	/*height: 300px; /* Standard height for each blog post */
	overflow: hidden;
	position: relative;
}

.Resized {
	display: none;
	position: absolute;
	width: 100%;
	height: 250px;
	bottom: 0;

	background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.Resized p {

		text-align: center;
		line-height: 450px;
		font-family: 'KlinicSlabBook';
		font-size: 20px;
		letter-spacing: 2px;
		font-weight: 700;
}

.LeftColumn {
	/*margin-top: 45px; /* 45px instead of 20px cause Bootstrap gives h1 extra 20px margin, plus extra for font margins */
	padding-left: 0px; /* Override Bootstrap's padding of columns so that CategoryTab is flush left */
}

.CategoryTab {
	background-color: #8bbd29; 
	height: 30px;
	width: 100%;
	float: left;
	padding-right: 30px;
}

.CategoryTab p {
	float: right;

	font-family: 'KlinicSlabBook';
	font-size: 15px;
	/*font-weight: 900;*/
	line-height: 30px;
	letter-spacing: 2px;
	color: white;
}

.EntryColumn {
	margin-top: 20px;
	margin-left: 20px;
}

.EntryTitle {

}

.EntrySubtitle {

}

.EntryDate {
	color: #888;
}

.EntryText {
	font-size: 18px;
	line-height : 30px;
}
/* ------------------------------------------------------------------------- */

/* ---------------------------------- ABOUT -------------------------------- */
#AboutMe {
	background-color: #eee;
	margin-top: 30px;
}

#About {
	font-family: 'KlinicSlabBook', serif;
	padding-top: 50px;/*30px;*/
}

#AboutTitle {
	font-size: 40px;
}

#AboutText {
	font-size: 20px;
	/*line-height: 30px;*/
}

#JulienImg {
	margin-top: 10px;
	height: 450px;

	display: block;
	margin: auto;
}

#BottomBar {
	background-color: #eee;
	height: 50px;

}

#BottomBar p {
	margin-bottom: 0px; /* Override Bootstrap margins */
	text-align: center;
	font-family: 'KlinicSlabBook';
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 50px;
}

